body {
    background-color: rgb(228, 228, 228);
}

#text {
    font-size: 24px;
    text-align: center;
}

.textcolumn h3 {
    font-size: 24px;
    margin-left: 5%;
}

.textcolumn p {
    font-size: 20px;
    margin-left: 5%;
    width: 40%;
}

#afbeeldingen {
    display: flex;
    justify-content: end;
    width: 100%;
    flex-wrap: wrap;
    z-index: -1;
    top: 30%;
    align-content: end;
    flex-direction: column;
}

img {
    width: 60%;
}

button a {
    text-decoration: none;
    color: black;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#back-button {
    border: solid 3px red;
    border-radius: 8px;
    height: 50px;
    width: 100px;
    transition: 1s;
    background-color: transparent;
}

#back-button:hover {
    transition: 1s;
    transform: scale(1.1);
}

#nextbutton {
    background-color: transparent;
    border: none;
    font-size: 30px;
    transition: 1s;
}

#nextbutton:hover {
    transition: 1s;
    transform: scale(1.1);
}