body {
    background-color: rgb(228, 228, 228);
}

#navbar {
    background-color: rgb(24, 33, 52);
}

#text {
    font-size: 24px;
    text-align: center;
}

.textcolumn {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.textcolumn h3 {
    display: flex;
    font-size: 24px;
    margin-left: 5%;
}

.textcolumn p {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-left: 5%;
    width: 40%;
}

#afbeeldingen {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
    flex-direction: column;
    margin-top: 5%;
}

#afbeeldingen img {
    width: 70%;

}

#projectinformation {
    display: flex;
    flex-direction: row;
}

#information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: end;
    justify-content: space-around;
}

img {
    width: 200%;
}

button a {
    text-decoration: none;
    color: black;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#back-button {
    border: solid 3px black;
    border-radius: 8px;
    font-size: 20px;
    height: 60px;
    width: 120px;
    transition: 1s;
    background-color: transparent;
}

#back-button:hover {
    transition: 1s;
    transform: scale(1.1);
}

#nextbutton {
    background-color: transparent;
    border: none;
    font-size: 30px;
    transition: 1s;
}

#nextbutton:hover {
    transition: 1s;
    transform: scale(1.1);
}