body {
    background-color: rgb(228, 228, 228);
}

#text {
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#im1 {
    width: 100%;
}

#img1 {
    width: 50%;
    border-radius: 40px;
    border: 1px solid black;
}

#im2 {
    width: 100%;
}

#img2 {
    width: 30%;
    border-radius: 40px;
    margin-top: -5%;
    margin-right: 50%;
}

#img3 {
    width: 40%;
    border-radius: 40px;
    margin-top: -32%;
    margin-left: 17%;
}

#im4 {
    width: 100%;
}

#img4 {
    width: 40%;
    border-radius: 40px;
    margin-right: 45%;
    margin-top: -16%;
}

#im5 {
    width: 100%;
}

#img5 {
    width: 50%;
    border-radius: 40px;
    margin-left: 42%;
    margin-top: -26%;
}

#im6 {
    width: 100%;
}

#img6 {
    width: 35%;
    border-radius: 40px;
    
}