body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #ffffff;
    border-bottom: 4px solid rgb(59, 59, 59);
    box-shadow: 0px 0px 20px black ;
    z-index: 1;
    color: rgb(24, 33, 52);
}

#navbar ul {
    display: flex;
    gap: 20px;
}

#navbar li {
    list-style: none;
}


#top {
    background-image: linear-gradient(to right, rgb(116, 116, 116) , rgb(0, 0, 0));
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: x-large;
    border-bottom: 2px solid rgb(24, 33, 52);
}

#top p,
#top h1 {
    display: flex;
    align-items: end;
    margin-left: 4%;
    width: 80%;
}

#top div button {
    padding: 1%;
    border: 3px solid white;
    background: none;
    border-radius: 8px;
    color: white;
    margin-left: 4%;
    font-size:x-large;
    transition: 2s;
}

#top div button:hover {
    transform: scale(1.2);
    transition: 2s;
}

#top img {
    width: 400px;
    border-radius: 50%;
    margin-bottom: 2%;
}

#aboutme {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    width: 100%;
    border-bottom: 2px solid rgb(24, 33, 52);
}

#aboutme h1,
#aboutme p {
    display: flex;
    justify-content: center;
    width: 600px;
    color: rgb(24, 33, 52);
}

#contact {
    background-color: rgb(48, 48, 48);
    padding-top: 3%;
    border-bottom: 3px solid rgb(24, 33, 52);
    padding-bottom: 3%;
    text-align: center;
    color: white;
}

#cardcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid white;
    border-radius: 8px;
    padding: 1%;   
    width: 220px;
    color: white;
}

.card a {
    text-decoration: none;
    color: white;
}
